*{
    margin:0;
    padding:0;
}
html{
    font-size:16px;
}
a{
    text-decoration:none;
}
.card{
    height:16rem;
    background-color:rgb(105, 134, 160);
    max-height:1170px;
    max-width:1000px;
}
.title{
    text-align:center;
    text-transform: uppercase;
    color:white;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.card-one{
    margin:5rem auto;
    padding:2rem 4rem;
}
.card-two{
    margin:5rem auto;
    padding:2rem 4rem;
} 
.btn{
    letter-spacing:2px;
    width:5rem;
    margin-top:1rem;
    
}